body {

    margin: 0;

    overflow: hidden;

    background: black;

    font-family: Arial;

}

canvas {

    display: block;

}

#hud {

    position: absolute;

    top: 10px;

    left: 10px;

    color: white;

    font-size: 25px;

    z-index: 10;

}
